<!-- I learned that in css Grid, the content of each item is located in a box called a cell.  The justify-self property can be used to align the content's position within the cell horizontally.  The default value is streach, which will make the content fill the whole width of the cell.  The other values are start, center, end.  Start aligns the content at the left of the cell, center aligns the content in the center of the cell, end aligns the content to the right of the cell. Trying each of these in the editor shows the alignments.
-->

<style>
  .item1{background: LightSkyBlue;}

  .item2 {
    background: LightSalmon;
    /* add your code below this line */
    justify-self: center;

    /* add your code above this line */
  }

  .item3{background:PaleTurquoise;}
  .item4{background:LightPink;}
  .item5{background:PaleGreen;}

  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
</style>

<div class="container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
</div>
